h2 {
    background-color: aquamarine
}

.panel-block {
    background-color: blueviolet
}


h1 {
    padding: 30px;
    text-align: center;
    color:rgb(134, 218, 132);
    size: 3em;
    font-style: oblique;
    font-weight: bold;
}