h2 {
    background-color: aquamarine
}

.panel-block {
    background-color: blueviolet
}

body {
    background: rgb(236, 189, 248)
}

h1 {
    padding: 30px;
    text-align: center;
    color:rgb(253, 253, 253);
    size: 3em;
    font-style: oblique;
    font-weight: bold;
}