h2 {
    background-color: aquamarine
}

.panel-block {
    background-color: blueviolet
}

body {
    background: rgb(236, 189, 248)
}

h1 {
    padding-top: 30px;
    text-align: center;
    color:rgb(45, 161, 121);
    size: 3em
}