<body>
<div class="container is-fluid">
  <a class="button is-danger " routerLink="/planner">Takaisin</a>
</div>
  <div class="container is-fluid">
    <div class="buttons is-centered">
      <span class="button is-large is-link">Viikko 1</span>
      <span class="button is-large is-info">Viikko 2</span>
      <span class="button is-large is-primary">Viikko 3</span>
      <span class="button is-large is-success">Viikko 4</span>
     </div>
  </div>
<div class="notification is-warning">
  <button class="delete"></button>
  Olet vaihtamassa viikkoa, jolloin menetät aiemmin tallennetut merkinnät 
  <a> -jatka silti!</a> 
</div>

</body>
