<body>
 <p class="container is-fluid">Kukas täällä ahkeroi?</p>
    <div class="buttons is-centered">
        <span id="user1" class="button is-large is-link" routerLink="/planner">Guðni</span>
        <span id="user2" class="button is-large is-info" routerLink="/planner">Hákon</span>
        <span id="admin1" class="button is-large is-primary" routerLink="/planner">Laura</span>
        <span id="user3" class="button is-large is-success" routerLink="/planner">Saga</span>
    </div>

    <h1>{{selectedQuote}}</h1>
</body>