
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
}

.buttons {
  padding: 60px;
}

h1 {
    padding: 30px;
    text-align: center;
    color:rgb(139, 44, 218);
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}