h1 {
    text-align: center;
    text-decoration: rgb(118, 218, 183) wavy underline;
    color: rgb(161, 94, 229);
    size: 1em
}

h2 {
    text-align: center;
    color:rgb(42, 221, 158);
    size: 3em
}